.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #180a67f0;
}

.login-wrapper {
  background-color: #fff;
  padding: 80px 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.input-lable {
  font-weight: bold;
  color: #180a67f0;
  padding: 8px 0;
}

.input-box {
  border: none;
  border-bottom: 2px solid #180a67f0;
  padding: 4px;
}

.input-box:focus {
  outline: none;
}

.submit-button {
  color: #fff;
  padding: 8px 29px;
  background-color: #180a67f0;
  border: 1px solid #180a67f0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.submit-button:hover {
  color: #180a67f0;
  background-color: #fff;
}

.submit-button:focus {
  outline: none;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
